
$msize: 1.6rem;
$lsize: 3.2rem;
$xlsize: 4.8rem;


$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464d5e;


$purple: #8357c5;
$ssize: 1.2rem;


$desktop-breakpoint: 45rem;




